my_program
*.o
.DS_Store
*.d

*.la
*.in
Makefile
configure
*.log 
*.trs

config.status

libtool

/my_cool_program
/my_cool_test

.libs

*.dylib
*.a
*.lai
*.Plo
*.lo

autom4te.cache

config/

include/config.h
include/stamp-h1

lt~obsolete.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
.dirstamp
.deps
